html {
    background-color: rgb(255, 255, 255);
    font: Times;
    color: rgb(0, 0, 0);
}

header img {
    width: 100px;
    height: 100px;
    justify-content: left;

}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

header a{
    color: black;
}

.top-lane {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


header div button {
    display: flex;
    font-weight: bold;
    justify-content: space-evenly;
    width: 130px;
    height: 30px;
    background-color: white;
    border: 0px;
}

header div button img {
    width: 25px;
    height: 25px;
}